@import '../../color';
@import '../../gobal';

.post {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    padding: 20px;
    img {
        object-fit: cover;
        padding-bottom: 8px;
        width: 580px;
    }
    .date {
        font-size: 12px;
        font-weight: 600;
        color: $red-400;
    }
    .postName {
        font-size:30px;
        font-weight: 600;
    }
    .auther {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
        .name {
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;
        }
    }
    .desc {
        color: $descColor;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .tags {
        display: flex;
        gap: 8px;
        padding-inline-start: 0;
        list-style-type: none;
        .tagItem {
            font-weight: 500;
            background-color: $pink-400;
            padding: 10px;
            border-radius: 25px;
            cursor: pointer;
        }
    }
}
.dark {
    color: $white;
}
.light {
    color: $dark-1000;
}
