@import '../../color';
@import '../../gobal';

.post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    cursor: pointer;
    padding: 20px;
    img{
        object-fit: cover;
        padding-bottom: 8px;
        width: 580px;
    }
    .date{
        font-size: 12px;
        font-weight: 600;
        color: $red-400;
    }
    .postName{
        font-size: 25px;
        font-weight: 600;
      
    }
    .desc{
        color: $descColor;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        

    }
    .tags{
        display: flex;
        gap: 8px;
        .tagItem{
            font-weight: 500;
            background-color: $pink-400;
            padding: 10px;
            border-radius: 25px;
            cursor: pointer;
        }
    }
}
.dark{
    color: $white;
}
.light{
    color: $dark-1000;
}