@import '../color';
body {
    padding: 0;
    margin: 0;
}

.light {
    .text {
        color: $dark-1000;
    }
    .background {
        background-color: $white;
    }
}

.dark {
    .text {
        color: $white;
    }
    .background {
        background-color: $mainColor;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100vh;
}
.m-1 {
    margin: 1em;
}
.pd-1 {
    padding: 1em;
}
.btn {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $btnColor;
    color: $dark-1000;
    font-weight: bold;
}
.gap {
    gap: 10px;
}

.avatar-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    img {
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }
    span {
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
}
.none {
    outline: none;
    border: none;
   
}