$dark-100:#C1C2C5;
$dark-200:#A6A7AB;
$dark-300:#909296;
$dark-400:#5C5F66;
$dark-500:#373A40;
$dark-600:#2C2E33;
$dark-700:#25262B;
$dark-800:#1A1B1E;
$dark-900:#141517;
$dark-1000:#101113;

$gray-100:#F1F3F5;
$gray-200:#E9ECEF;
$gray-300:#DEE2E6;
$gray-400:#CED4DA;
$gray-500:#ADB5BD;
$gray-600:#868E96;
$gray-700:#495057;

$red-300:#FFA8A8;
$red-400:#FF8787;
$red-500:#FF6B6B;
$red-600:#FA5252;
$red-700:#F03E3E;
$red-800:#E03131;
$red-900:#C92A2A;

$pink-400: #F783AC;
$pink-500: #F06595;
$pink-600: #E64980;
$pink-700: #E64980;
$pink-800: #E64980;

$blue-400: #4DABF7;
$blue-500: #339AF0;
$blue-600: #228BE6;
$blue-700: #1C7ED6;
$blue-800: #1971C2;

$yellow-400: #FFD43B;
$yellow-500: #FCC419;
$yellow-600: #FAB005;
$yellow-700: #F59F00;
$yellow-800: #F08C00;


$orange-400: #FFA94D;
$orange-500: #FF922B;
$orange-600: #FD7E14;
$orange-700: #F76707;
$orange-800: #E8590C;


$white: #fff;
$mainColor: #090D1F;
$btnColor: $pink-500;

$descColor: #667085;

$starColor:$yellow-400;

$errColor: $red-700;

$hoverTextColor: $blue-400