@import './color';
@import './gobal';

.main{
    nav{
        position: sticky;
        top: 0;
        z-index: 99;
    }
    
}
.dark{
    background-color: $mainColor;
}
.light{
    background-color: $white;
}