@import './color';
@import './gobal';

.main{
    display: flex;
    flex-direction: column;
    position: relative;
}
.dark{
    background-color: $mainColor;
}
.light{
    background-color: $white;
}