@import '../../color';
@import '../../gobal';

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: $mainColor;
    h1{
        color: $white;
    }
    .listItemNav {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-weight: bold;
        cursor: pointer;
        gap: 20px;
        transition: all 0.5 ease;
        li {
            margin: 1em;
            display: flex;
            align-items: center;
            font-size: 18px;
            
            
            
        }
        :hover{
            color: $pink-600;
            transform: scale(1.1);
        }
        

    }
    div{
        display: flex;
        button:hover {
            opacity: 0.8;
        }
        button {
            font-size: 15px;
            font-weight: bold;
            z-index: 1;
            position: relative;
            padding: 8px 16px;
            outline: none;
            border: none;
            overflow: hidden;
            cursor: pointer;
        }

        button::after {
            content: '';
            z-index: -1;
            background-color: transparent;
            position: absolute;
            top: -50%;
            bottom: -50%;
            width: 20px;
            transform: translate3d(-525%, 0, 0) rotate(35deg);
        }

        button:hover::after {
            transition: transform 0.45s ease-in-out;
            transform: translate3d(200%, 0, 0) rotate(35deg);
            background-color: $mainColor;
            opacity: 0.8;
        }

    }
}
.light {
    color: $dark-1000;
    background-color:rgba($color: $white, $alpha: 0.9);

    h1 {
        color: $dark-1000;
    }
}
.dark {
    color: $white;
    background-color:rgba($color: $mainColor, $alpha: 0.8);
   
}

