@import '../../color';
@import '../../gobal';

.avatar {
    position: relative;

    .wapper {
        display: flex;
        gap: 20px;
        align-items: center;
        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
        h2 {
            font-size: 20px;
            max-width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        span {
            cursor: pointer;
            :hover {
                opacity: 0.8;
            }
        }
        .addPost {
        }
    }
    .menu {
        position: absolute;
        right: 0;
        bottom: calc(-100% - 215px);
        // right: 10px;
        .items {
            width: 180px;
            display: flex;
            gap: 5px;
            flex-direction: column;
            padding: 15px;
            border-radius: 5px;

            .item {
                display: flex;
                align-items: center;
                gap: 3px;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
                p {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 10px;
                }
                span {
                    padding-left: 5px;
                }
                &:hover {
                    color: $pink-700;
                }
            }
        }
    }
}
.span {
    color: $dark-900;
    background-color: $gray-300;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2 ease;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}
.dark {
    background-color: $gray-100;
    color: $mainColor;
    //hover in menu
    :hover {
        background-color: $gray-300;
        
    }
}
.light {
    background-color: $mainColor;
    color: $white;
    //hover in menu
    :hover {
        background-color: $gray-500;
    }
}
