@import '../../color';
@import '../../gobal';

.fade {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    .name {
        font-size: 30px;
        font-weight: bold;
        padding-left: 20px;
    }
    .wapper  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.light {
    color: $dark-1000;
}
.dark {
    color: $white;
}
