@import '../../color';
@import '../../gobal';

.fade {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .name {
        font-size: 30px;
        font-weight: bold;
        
    }
    .wapper {
        display: flex;
        gap: 20px;
        flex-direction: column;
      
    }
}

.light {
    color: $dark-1000;
}
.dark {
    color: $white;
}
