@import '../../color';
@import '../../gobal';

.recommend{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    margin-bottom: 5x;
    span{
        font-size: 30px;
        font-weight: 600;
    }
    .items{
        display: flex;
        flex-direction: column;
        h2{
            padding-top: 10px;
            margin: 0;
            font-size: 20px;
            font-weight: 400;
            cursor: pointer;
            &:hover{
                color: rgba($color: $hoverTextColor, $alpha: 0.8);
            }
        }
        .tags{
            display: flex;
            padding-inline-start:0px;
            list-style: none;
            align-items: center;
            gap: 10px;
            margin: 15px 0;
            flex-wrap: wrap;
            width: 100%;
            .tag{
                padding: 8px 10px;
                background-color: $pink-400;
                font-size: 15px;
                font-weight: 400;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}
.light{
    border-bottom: 0.5px solid rgba($color: $dark-700, $alpha: 0.1);
    .items{
        h2{
            color: $dark-1000;
        }
    }
}
.dark{
    border-bottom: 0.5px solid rgba($color: $white, $alpha: 0.1);
    .items{
        h2{
            color: $white;
        }
        .tags{
            color: $dark-1000;
        }
    }
   
}