@import '../../color';
@import '../../gobal';

.comment {
    // padding: 20px;
    // border: 1px solid #333;
    .avatar {
        display: flex;
        flex-direction: column;
        // gap: 20px;
        .avatarItem {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            img {
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
                width: 40px;
                height: 40px;
            }
            h2 {
                font-size: 20px;
            }
            span {
                opacity: 0.5;
            }
        }
        p {
            margin-left: 20px;
            text-align: justify;
            line-height: 20px;
        }
    }
    .option {
        padding-top: 20px;

        .item {
            display: flex;
            justify-content: flex-end;
            gap: 60px;

            li {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                span {
                    font-weight: 500;
                    font-size: 19px;
                }
                .optionComment {
                    top: 25px;
                    right: 0px;
                    position: absolute;
                    border-radius: 5px;
                    padding: 5px;
                    .optionItems {
                        align-items: center;
                        margin: 0;
                        list-style: none;
                        display: flex;
                        gap: 5px;
                        flex-direction: column;
                        border-radius: 5px;
                        padding-inline-start: 0px;
                        .itemComment {
                            display: flex;
                            align-items: center;
                            gap: 3px;
                            padding: 10px;
                            border-radius: 5px;
                            font-weight: bold;
                            &:hover {
                                color: $pink-700;
                            }
                        }
                    }
                }
            }
        }
    }
}
.light {
    .option {
        .item {
            .optionComment {
                background-color: $gray-200;
                .optionItems {
                    .itemComment {
                        &:hover {
                            background-color: $gray-300;
                        }
                    }
                }
            }
        }
    }
}
.dark {
    .option {
        .item {
            .optionComment {
                background-color: $gray-200;
                .optionItems {
                    .itemComment {
                        color:$dark-1000;
                        &:hover {
                            background-color: $gray-300;
                        }
                    }
                }
            }
        }
    }
}
